# Slave Configuration file
# Classification (U)
# Unclassified until filled in.
# Slave 1 Configuration
user = root
passwd = {ROOT_PASSWORD}
# MySQL DB host information
host = {SERVER_IP}
name = {HOST_NAME}
# MySQL database server id - unique to each database
sid = {SERVER_ID}
# MySQL configuration settings
cfg_file = None
# MySQL database port (default is 3306)
port = 3306
# Server running OS
serv_os = Linux
